<div class="app-container">
  {{t('Land at 2 m/s or less!')}}
  <div class="telemetrics-panel">
    <p>{{t('CASH')}}: 1000$ | {{t('LANDER VALUE')}}: $1</p>
    <p>{{t('V SPEED')}}: {{displayCumullativeDownward && displayCumullativeDownward.toFixed(2)}} m/s</p>
    <p>{{t('LANDER Y')}}: {{ (landY - (y + landerH)).toFixed(2) }} m</p>
    <p>{{ t('BURN') }}: {{ burn.toFixed(2) }}</p>
    <p>{{ t('DEBUG burn stack') }}: {{ burnStack }}</p>

    <button (click)="reset()">RESET</button>
  </div>


  <div class="steering-panel" resize="both">
    <div class="rule-container">
      <div *ngFor="let rule of steeringRules" (change)="onRulesChanged()">
        <input type="checkbox" [(ngModel)]="rule.isEnabled">
        <div class="condition">IF
          <select name="" id="">
            <option *ngFor="let variable of conditionVariables" [value]="variable" [selected]="variable == rule.conditionVariable">{{variable}}</option>
          </select>

          <select name="" id="" [(ngModel)]="rule.operator">
            <option *ngFor="let opt of operators" [value]="opt" [selected]="opt == rule.operator">{{opt}}</option>
          </select>

          <input type="number" [(ngModel)]="rule.conditionValue">

        </div>
        <span class="label-wrapper">THEN SET</span>

          <div class="action">

            <select name="" id="">
              <option *ngFor="let variable of actionVariables" [value]="variable" [selected]="variable == rule.conditionVariable">{{variable}}</option>
            </select>
            TO
            <input type="number" [(ngModel)]="rule.actionValue">
          </div>

          <button (click)="removeRule(rule.id)">🗑</button>
      </div>
      <button (click)="addNewRule()">{{t('+ ADD RULE')}}</button>

    </div>
    <div class="error" *ngIf="error">ERROR: {{error}}</div>
    <h3>{{t('GENERATED CODE')}}</h3>
    <pre class="freetype">{{currentCodeFromRules}}</pre>
  </div>

  <div class="win-text absolute-modal" *ngIf="hasWon">
    {{t('GREAT JOB! Your landing speed was')}} {{landingSpeed.toFixed(2)}} m/s
    <div>
      <button (click)="reset()">Restart</button>
    </div>
  </div>
  <div class="lose-text absolute-modal" *ngIf="hasLost">{{t('Didn\'t make it this time! Your landing speed was')}} {{landingSpeed.toFixed(2)}} m/s, it needs to be less than 2 m/s
    <div>
      <button (click)="reset()">Restart</button>
    </div>
  </div>
</div>
